body {
  font-family: sans-serif;
}

.input-group {
  margin: 10px;
  padding: 5px;
}

.input-group.wrong {
  background: red;
  color: white;
}

.input-group.correct {
  background: green;
  color: white;
}

.btn {
  padding: 10px;
  font-size: 12pt;
  border: 1px solid;
}
